<app-header></app-header>

<div class="container-fluid">
  <div class="">
    <h2 class="font-weight-bold text-dark title">ADMINISTRACIÓN DEL BINGO</h2>
  </div>
  <div class="mb-5">
    <div class="card-body text-primary">
        <div class="d-flex justify-content-between flex-column flex-lg-row">
          <div class="d-flex align-items-center mb-4 justify-content-center flex-column flex-md-row">
            <h5 class="card-title text-dark font-weight-bold col-md-2 text-center mb-0">Bolilla {{bolillas.length}}/75</h5>
            <ng-container *ngFor="let item of bolillas; let last = last;">
              <div class="bolilla bolilla-1 my-2 my-md-0" *ngIf="last">
                  <div class="new">
                    <span class="bolilla-letra" *ngIf="item >= 1 && item <= 15;else i">B</span>
                    <ng-template #i>
                      <span class="bolilla-letra" *ngIf="item > 15 && item <= 30;else n">I</span>
                    </ng-template>
                    <ng-template #n>
                      <span class="bolilla-letra" *ngIf="item > 30 && item <= 45;else g">N</span>
                    </ng-template>
                    <ng-template #g>
                      <span class="bolilla-letra" *ngIf="item > 45 && item <= 60;else o">G</span>
                    </ng-template>
                    <ng-template #o>
                      <span class="bolilla-letra" *ngIf="item > 60 && item <= 75">O</span>
                    </ng-template>
                    {{ item }}</div>
              </div>
            </ng-container>
            <div class="card border-primary" style="border-radius: 35px;">
              <div class="text-primary">
                  <div class="d-flex flex-row-reverse ball-box">
                    <ng-container *ngFor="let item of bolillas; let last = last;">
                      <div class="bolilla" *ngIf="!last">
                          <div class="new">
                            <span class="bolilla-letra" *ngIf="item >= 1 && item <= 15;else i">B</span>
                            <ng-template #i>
                              <span class="bolilla-letra" *ngIf="item > 15 && item <= 30;else n">I</span>
                            </ng-template>
                            <ng-template #n>
                              <span class="bolilla-letra" *ngIf="item > 30 && item <= 45;else g">N</span>
                            </ng-template>
                            <ng-template #g>
                              <span class="bolilla-letra" *ngIf="item > 45 && item <= 60;else o">G</span>
                            </ng-template>
                            <ng-template #o>
                              <span class="bolilla-letra" *ngIf="item > 60 && item <= 75">O</span>
                            </ng-template>
                            {{ item }}</div>
                      </div>
                    </ng-container>
                  </div>

              </div>
            </div>
          </div>
          <div class="my-2 mx-auto mx-lg-0 text-right">
            <div class="md-form mt-3 mb-4 input-group">
              <!-- <input class="form-control" [(ngModel)]="numero" type="number" placeholder="Ingresar Número"> -->
              <div class="input-group-append">
                <button class="btn btn-rounded btn-primary" type="button" (click)="sacar_numero()">Sacar Número</button>
              </div>
            </div>
          </div>
        </div>
        <div class="overflow-x-auto">
          <table id="drawTable" class="bingo-table bingo-table-hover bingo-table-striped mt-3">
            <tbody>
              <tr class="minHeightTable" *ngFor="let item of elementos; let i = index">
                <th class="text-center">{{ bingo[i] }}</th>
                <td class="text-center align-middle" *ngFor="let numero of item"
                [ngClass]="numero.salio? 'bg-danger text-white': 'bg-white text-dark'">
                  <label class="d-flex align-items-center justify-content-center">
                    <span class="">{{ numero.numero }}</span>
                  </label>
                </td>
              </tr>
            </tbody>
          </table>

        </div>

        <table class="table table-bordered table-striped mt-2" *ngIf="users?.length>0">
          <thead>
              <tr>
                  <th>Nombre</th>
                  <th>Email</th>
                  <th>Teléfono</th>
              </tr>
          </thead>
          <tbody>
              <tr *ngFor="let user of users" >
                  <td>{{ user.nombre }}</td>
                  <td>{{ user.email }}</td>
                  <td>{{ user.telefono }}</td>
              </tr>
          </tbody>
        </table>
    </div>
  </div>
</div>

<app-footer></app-footer>
