<app-header></app-header>

<div class="row">

  <div class="col-6">
    <div class="card border-primary mt-5 mb-5">
      <div class="card-body text-primary">
          <h5 class="card-title text-center">TRANSMICIÓN</h5>

          <div class="m-0">
            <iframe width="100%" height="315" src="https://www.youtube.com/embed/5UYTGX5ICBo" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>

      </div>
    </div>

    <div class="card border-primary mt-5 mb-5">
      <div class="card-body text-primary">
          <h5 class="card-title text-center">BOLILLAS ENTRANTES</h5>

          <div class="mt-4">

            <div class="d-inline p-2 bg-success text-white"
                style="border: 2px solid white;border-radius: 50%;"
                *ngFor="let item of bolillas">{{ item }}</div>

          </div>

      </div>
    </div>
  </div>

  <div class="col-6">

    <div class="card border-primary mt-5 mb-5" style="background: #007bff" *ngFor="let cartilla of cartillas">
      <div class="card-body text-primary">
          <h2 class="card-title text-center text-white">BINGO</h2>

          <div class="row">
            <div class="col-4" *ngFor="let item of cartilla.talonario">
              <div class="text-white text-center" [ngClass]="item.salio? 'bg-danger': 'bg-dark'"
              style="border: 2px solid white;border-radius: 50%;"><h2>{{ item.numero }}</h2></div>
            </div>
          </div>

      </div>
    </div>

  </div>

</div>

<app-footer></app-footer>
